@import "~bootstrap/scss/bootstrap";
$grid-gutter-width: 0;

//variables
$fontSize: 18px;
$fontWeight: 400px;
$lineHeight: 24px;
$backgroundColor: #fff;

*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', 'sans-serif';
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: 24px;
    overflow: visible;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    padding: 0;
    margin: 0 ;
}

a{
    text-decoration: none;
}
