.wrapper {
  width: 95%;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
  display: block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    .title{
      color: #42b7e2;
    }
  }
}

.title {
  font-size: 25px;
  font-weight: 100;
  display: block;
  margin: 28px 0;
  color:#504c4c;
}

.text {
  color: #9da5a9;
}
