.page_topline {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 0;
  border-bottom: 1px solid #dedede;
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    white-space: nowrap;
  }
}

.page_topline .responsiveUl {
  $breakpoint-tablet: 1196px;
  $breakpoint-mobile: 455px;
  @media (max-width: $breakpoint-tablet) {
    margin-top: 5px;
  }

  @media (max-width: $breakpoint-mobile) {
    span:first-child {
      display: none;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}
