@import "../../styles/mixins.scss";
.caption {
  position: absolute;
  z-index: 10;
  left: 5%;
  top: 20%;
  width: fit-content;
  color: #fff;
  display: block;

  h1 {
    width: 60%;
    text-transform: capitalize;
    margin: 25px 0;
    @include fluid_typography(25, 72, 372, 1500);
  }
}

.caption .title {
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: 600;
  font-size: 16px;
  word-spacing: 8px;
  letter-spacing: 0.9px;
}

.caption .extra_info {
  color: #f9fdff;
  font-weight: 100;
  letter-spacing: 0.9px;
  line-height: 30px;
  word-spacing: 1px;
  @include fluid_typography(16, 24, 372, 1500);
}
